*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.padre{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    background-color: lightgray;
    padding: 20px;
    border:2px solid  black;
}
.hijo1{
    background-color: lightcoral;
    padding: 20px;
    border: 2px solid black;
}
.hijo2{
    background-color: rgb(36, 10, 233);
    padding: 20px;
    border: 2px solid black;
}
.hijo3{
    background-color: rgb(234, 95, 8);
    padding: 20px;
    border: 2px solid black;
}
.hijo4{
    background-color: rgb(250, 8, 149);
    padding: 20px;
    border: 2px solid black;
}

.hijo5{
    background-color: rgb(219, 153, 153);
    padding: 20px;
    border: 2px solid black;
}
.hijo6{
    background-color: rgb(81, 71, 153);
    padding: 20px;
    border: 2px solid black;
}
.hijo7{
    background-color: rgb(34, 107, 107);
    padding: 20px;
    border: 2px solid black;
}
.hijo8{
    background-color: rgb(54, 223, 82);
    padding: 20px;
    border: 2px solid black;
}

.hijo9{
    background-color: rgb(189, 179, 36);
    padding: 20px;
    border: 2px solid black;
}
.hijo10{
    background-color: rgb(167, 55, 21);
    padding: 20px;
    border: 2px solid black;
}
.hijo11{
    background-color: rgb(105, 214, 123);
    padding: 20px;
    border: 2px solid black;
}
.hijo12{
    background-color: rgb(161, 20, 10);
    padding: 20px;
    border: 2px solid black;
}